@media screen and  (max-width:425px){
    .container{
        width: 100%;
    }
    nav{
        padding: 40px 0px;
    }
    nav, .nav-menu,.about-content, .banner-content, .play-game-content, .online-features-game{
        flex-direction: column;
        text-align: center;
    }
    .features-game-iteams{
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-menu li{
        /* padding: 15px 15px; */
        
     }
     .follow-us{
        margin-top: 30px;
     }
     .nav-logo img{
        margin-right: 0px;
    }
    .menu-about{
        margin: 25px 0px;
    }
    .banner-content{
        flex-direction: column-reverse;
       
    }
    .banner-des{
        padding: 30px 0px;
        width: 100%;
    }
    .banner-title{
        padding: 10px 0px;
    }
    .banner-list {
        font-size: 15px;
    }

    .primary-btn {
        font-size: 16px;
        padding: 10px 21px;
       
    }
    .btn {
        margin: 15px 0px;
        padding-top: 0px;
    }
    .banner-play {
        color: #0B0223;
        font-size: 36px;}
        .banner-title {
            font-size: 50px;
        }
        .banner-des {
            text-align: left;
            max-width: 300px;
            padding: 30px 0px;
        }
        .about-des {
            text-align: center;
            max-width: 100%;
        }
        .blockqutes {
            font-size: 20px;
            line-height: normal;
            
        }
        .online-features-game {
            padding: 49px 0px;
        }
        /*  */
        .feture-item p {
            color: #534C64;
            font-size: 12px;
            padding-bottom: 10px;
        }
        .play-game-des {
            padding-right: 0px;
        }
        .play-game-title {
            font-size: 41px;
            padding-bottom: 20px;
        }
        .play-game {
            padding: 50px 0px 40px 0px;
        }
        .play-game-img{
            display: none;
        }
        .features-game-top h2 {
            font-size: 41px;
        }
        .game-zone, footer  {
            padding: 40px 0px;
        }
        .menu-1{
            flex-wrap: wrap;
        }
        .menu-1 li {
            padding: 10px 15px;
        }

}


@media screen and  (max-width:768px){
    .container{
        width: 100%;
    }
    nav{
        padding: 40px 0px;
    }
    nav, .nav-menu,.about-content, .banner-content, .play-game-content, .online-features-game{
        flex-direction: column;
        text-align: center;
    }
    .features-game-iteams {
        grid-template-columns: repeat(2, 1fr);
    }
    
     .follow-us{
        margin-top: 30px;
     }
     .nav-logo img{
        margin-right: 0px;
    }
    .menu-about{
        margin: 25px 0px;
    }
    .banner-content{
        flex-direction: column-reverse;
       
    }
    .banner-des{
        padding: 30px 0px;
        width: 100%;
    }
    .banner-title{
        padding: 10px 0px;
    }
    .banner-list {
        font-size: 15px;
    }

    .primary-btn {
        font-size: 16px;
        padding: 10px 21px;
       
    }
    .btn {
        margin: 15px 0px;
        padding-top: 0px;
    }
    .banner-play {
        color: #0B0223;
        font-size: 36px;}
        .banner-title {
            font-size: 50px;
        }
        .banner-des {
            text-align: left;
            max-width: 300px;
            padding: 30px 0px;
        }
        .about-des {
            text-align: center;
            max-width: 100%;
        }
        .blockqutes {
            font-size: 20px;
            line-height: normal;
            
        }
        .online-features-game {
            padding: 49px 0px;
        }
        
        .feture-item p {
            color: #534C64;
            font-size: 12px;
            padding-bottom: 10px;
        }
        .play-game-des {
            padding-right: 0px;
        }
        .play-game-title {
            font-size: 41px;
            padding-bottom: 20px;
        }
        .play-game-description {
            padding-bottom: 40px;
        }
        .play-game {
            padding: 50px 0px 40px 0px;
        }
        .play-img2 {
            right: 393px;
            width: 281px;
        }
        .features-game-top h2 {
            font-size: 41px;
        }
        .game-zone, footer  {
            padding: 40px 0px;
        }
        .menu-1{
            flex-wrap: wrap;
        }
        .menu-1 li {
            padding: 10px 15px;
        }

}