@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
nav{
    padding: 30px 0px;
}
nav, .nav-menu, .follow-us, .nav-logo, .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.logo-text{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}
.nav-logo img{
    margin-right: 20px;
}
.logo-text span{
    color: #FF42A5;
}
.nav-menu li{
   padding: 0px 15px;
}

.nav-menu li a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.follow-us{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 0px;
}
.fa-youtube{
    color: #F61C0D;
}

/* banner css start */
.banner{
    
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner-des{
    /* background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); */
    /* margin-right: 100px; */
}
.banner-img {
    max-width: 600px;
}
.banner-img img{
    width: 100%;;
}
.banner-play{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    font-size: 95px;    
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-list{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-list li{
    padding: 10px 0px;
}
.banner-list li i{
    color: #FF42A5;
    margin-right: 15px;
}
.btn{
    padding-top: 40px;
}
.primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 20px 40px;
    border: none;
    cursor: pointer;
}
.go{
    background: #4EC5F7;
    margin-left: 20px;
}

/* about css */
.about-section{
    padding: 40px 0px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.about-img{
    width: ;
}
.about-content{
    align-items: center;
}
.about-content img{
    width: 100%;
    /* margin-right: 30px; */
}
.about-des{
    text-align: right;
    max-width: 520px;
}

.about-title{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 24px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.purpose{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}
.blockqutes{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
/* play game css */
.play-game{
    padding: 50px 0px 120px 0px;
}
.play-game-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.play-game-des{
    max-width: 350px;
    margin: 0 auto;
    padding-right: 100px;
}
.play-game-title{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; 
    color: #0B0223;
    
    
}
.play-game-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-game-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    text-align: center;
    padding-top: 10px;
}
.play-game-img{
   position: relative;
   display: inline-block;
}
.play-img2{
    position: absolute;
    top: 360px;
    right: 500px;
    width: 300px;
}

/* features-game-iteams */
.online-features-game{
    padding: 100px 0px;
}
.features-game-top{
    padding-bottom: 30px;
}
.features-game-iteams{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.feture-item img{
    width: 100%;
}
.features-game-top h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.features-game-top h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.features-game-top p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 0px;
}
.feature-img{
    position: relative;
    border-radius: 16px;
    border: 1px solid #ffffff;
    /* width: 300px;
    height: 400px */
    height: 400px;
}
.feature-img img{
    width: 100%;
    height: 100%;
    line-height: 400px;
}
.feature-item-overlay{
    visibility: hidden;
}
.feature-img:hover .feature-item-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    visibility: visible;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.60);
    border: 1px solid #FF42A5;
    
    
}

.feature-item-overlay .feature-overlay-icon{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 100px;
    text-align: center;
}
.content{
    text-align: center;
    padding: 150px 30px;
}
.wach-now{
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
    padding-top: 10px;
}

.feture-item p{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
}
/* play-game-content */
.game-zone{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 100px 0px;
}
.game-zone-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.game-item{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    border: 1px solid #FFF;
    padding: 10px;
}
.game-item:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #FF42A5;
    
}
.game-itme-img{
    width: 60px;
}
.game-itme-title{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
}

/* footer css */
footer{
    background: #0B0223;
    color: #FFF;
    text-align: center;
    padding: 100px 0px
}

.footer-logo-text{
    color: #ffffff;
}
.menu-1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px 0px;
}
.menu-1 li{
    padding: 0px 15px;
}
.menu-1 li a{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.menu-2 li a{
    font-size: 25px;
}
.menu-3 li a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.footer-para{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}



